#menu{
    background-color:rgb(216, 216, 216);
    padding-left: 20px;
    padding-top: 4px;
    margin-left: -8px;
    margin-right: -8px;
}

#ImageAccueil{
    height: 50px;
}
#OptionsMenu1{
    background-color: lightgreen;
    display:inline-block;
    position: absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 15%;
    top: -12px;
    font-size: 25px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
}
#OptionsMenu2{
    background-color: lightgreen;
    display:inline-block;
    position: absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 40%;
    top: -12px;
    font-size: 25px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
}
#OptionsMenu3{
    background-color: lightgreen;
    display:inline-block;
    position: absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 80%;
    top: -12px;
    font-size: 25px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
}
#image_LocationDeVoitures{
    width: 1080px;
    display: inline-block;
}
.CarreauDeRecherche{
    font-size: 30px;
    background-color: maroon;
    display: inline-block;
}
#DernierDiv{
    background-color:limegreen ;
    margin-top: -300px;
    width: 1000px;
    height: 300px;
}