#image_LocationDeVoitures{
    width: 80%;
    display: inline-block;
}
#FormulaireAccueil{
    background-color:rgba(176, 224, 230, 0.575) ;
    box-shadow: 5px 5px 5px rgba(255, 182, 193, 0.473);
    position:absolute;
    border-radius: 10px;
    margin-top: 26%;
    margin-left: 20%;
    padding-top: 5%;
    width: 60%;
    height: 22%;
}
.formulaire{
    background-color:rgba(250, 128, 114, 0.568);
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 22%;
    border-radius: 5px;
    font-size: 125%;
    box-shadow: 10px 5px 5px rgba(255, 0, 0, 0.5);
}
#formulaire1{
    display: block;
    width: 60%;
    margin-top: -30px;
    margin-left: -5%;
}
#formulaire2{
    display: block;
    background-color:rgba(250, 128, 114, 0.568);
    width: 75%;
}
#formulaire3{
    display: block;
    background-color:rgba(250, 128, 114, 0.568);
    margin-left: -28%;
    width: 75%;
}
#formulaire4{
    margin-top: 2%;
    display: inline-block;
    width: 40%;
    margin-left: -5%;
}
#formulaire5{
    display: inline-block;
    width: 16%;
    margin-left: 4%;
}
.PhraseDate{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 80%;
}
#PhraseDate1{
    border-radius: 2px;
    background-color: rgba(255, 239, 213, 0.473);
    box-shadow: 10px 5px 5px rgba(255, 0, 0, 0.5);
    margin-left: -35%;
    display: inline-block;
}
#PhraseDate2{
    border-radius: 2px;
    background-color: rgba(255, 239, 213, 0.473);
    box-shadow: 10px 5px 5px rgba(255, 0, 0, 0.5);
    margin-left: -65%;
    display: inline-block;
}
.divDate{
    margin-top: 4%;
    display: inline-block;
}