#BackgroundPublicite{
    background-color :rgb(200, 200, 200);
    margin-left : 10%;
    margin-right : 10%;
    margin-top: 1%;
    border-color: rgb(128, 128, 128);
    border-style: solid;
}
#Publicite1ereParagraphe{
    /*background-color: brown;*/
    vertical-align: middle;
}
#Publicite2emeParagraphe{
    /*background-color : red;*/
    border-top-style:solid;
    border-top-color: rgb(128, 128, 128);
    border-bottom-style:solid;
    border-bottom-color: rgb(128, 128, 128);
    padding-top: 10px;
    padding-bottom: 10px;
}
#PremiereParagrapheInformations{
    /*background-color: yellow;*/
    width: 50%;
    margin-left: 6%;
    display: inline-block;
    vertical-align: middle;
}
#PremiereParagrapheImage{
    background-color: burlywood;
    width: 200px;
    border-radius: 50%;
    border-style: ridge;
    border-width: 30%;
    vertical-align: middle;
    display: inline-block;
}
#LeNom{
    /*background-color: firebrick;*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    width: 98%;
    color: rgb(107, 1, 1);
    font-size: 35px;
    margin-bottom: -20px;
}
#ValeurTel{
    /*background-color: blue;*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: -5px;
    font-size: 25px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
#ImageTel{
    width: 40px;
    display: inline-block;
    vertical-align: middle;
}
#Tel{
    /*background-color: yellow;*/
    text-align: right;
}
#CenterBoutonAjouterBublicite{
    background-color : rgb(17, 106, 179);
    border-color: rgb(150, 150, 150);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-top: 7.5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: 130px;
}
#ImageAutresPublicites{
    /*background-color: green;*/
    height: 25px;
    display: inline-block;
    margin-top: 1px;
    margin-bottom: -3px;
}
#AutresPublicites{
    /*background-color: red;*/
    font-family:Georgia, 'Times New Roman', Times, serif;
    vertical-align: middle;
    display: inline-block;
    margin-top: -12px;
    margin-bottom: 1px;
}