#BackgroundPublicite{
    background-color :rgb(200, 200, 200);
    margin-left : 10%;
    margin-right : 10%;
    border-color: rgb(128, 128, 128);
    border-style: solid;
}
#ImagePublicite{
    margin-left: 3.5%;
    width: 300px;
}
#DivImagePublicite{
    /*background-color : green;*/
    display : inline-block;
}
#DivText1Publicite{
    /*background-color : yellow;*/
    margin-right:40px;
    display : inline-block;
}
#DivText2Publicite{
    /*background-color: chocolate;*/
    display: inline-block;
}
#DivText3Publicite{
    margin-top: 10px;
    /*background-color: darkolivegreen;*/
}
.TitresPublicite{/*Les titres comme la marque et le pays*/
    /*background-color: darkseagreen;*/
    font-size: 25px;
    color:black;
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 40px;
    display: inline-block;
}
.ValeursPublicite{/*Les valeurs spécifiées de la marque et du pays ...*/
    /*background-color: firebrick;*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    margin-top: 5%;
    margin-bottom: 0%;
    color: rgb(107, 1, 1);
    display: inline-block;
}
#DH_jour{
    font-size: 20px;
}
.Prix_et_Occupation_et_leurs_valeurs{
    margin-top: 15px;
}
#Ligne_horizontal_Publicite{
    margin-bottom : -0.5%;
    margin-top : 2.5%;
    margin-left: 7%;
    width : 90%
}